html,body,.root,.container{
    height: 100%;
}
html,body{
    margin: 0;
    margin-top: -4px;
}
.top {
    height: 15%;
    background-color: #FFD7A7;
}
.menu-link ul {
  padding: 0;
  background: #FFD7A7;
}
.menu-link li {
  display: inline-block;
}
.menu-link a {
  padding: 1em;
  display: block;
  color: #9B4222;
  border-right: 1px solid #FFAB51;
  background: rgba(255, 171, 81, .3);
}
.menu-link .active {
  color: #9B4222;
  background: rgba(255, 171, 81, .3);
}
.menu-link a:hover {background: #FFAB51}
.h1{
    width: 10%;
    font-size: 32px;
    margin: 5px;
}
.right{
    min-height: 85%;
    width: 12%;
    background-color: lightgrey;
    float: right;
}
.singup *{
    align-self: center;
}
.record{
    height: 150px;
    margin: 2px;
    
}
