#snake{
    margin: auto;
    vertical-align: middle;
    border: 3px solid purple;
}
#snake * {
    width: 2rem;
    height: 2rem;
    padding: 0;
    background-color: lightblue;
}
#button{
    margin: auto;
    vertical-align: middle;
}
button{
    font-size: 20px;
    width: 3rem;
    height: 3rem;
}